---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Home Page"
import '../styles/global.css'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout pageTitle = {pageTitle}>
    <h2>私のAstro学習ブログ</h2>
    <p>ここには、私がAstroを学んでいく旅の様子を投稿します。</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
